.header {
	grid-area: h;
	background-color: dodgerblue;
	
}

.header img {
	width: 50px;
}

.loginBlock {
	float: right;
	margin-right: 100px;
	color: whitesmoke;
}

.loginBlock a {
	text-decoration: none;
	color: whitesmoke;
}